* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.profile-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px 0 0 0;
  max-width: 300px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-content {
  display: table;
  width: 100%;
}

.profile-pic {
  height: 200px;
  object-fit: cover;
}

h2 {
  margin: 10px 0;
  font-size: 22px;
}

.description {
  font-size: 16px;
  color: gray;
}

.location {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.contact {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.contact-btn:hover {
  background-color: #333;
}
